section {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.box {
  width: clamp(50px, 5vw, 100px);
  height: 50px;
  border-radius: 10px;
  background-color: white;
}

#container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#container > div:not(div:last-child) {
  margin-right: clamp(2px, 5vw, 15px);
}

section > div:last-child {
  align-self: flex-end;
}

@media (max-width: 768px) {
  section {
    width: 70%;
  }
}

@media (max-width: 575px) {
  section {
    width: 92%;
  }
}
